@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    If you are not Mr. Piernik<br />
    DO NOT CONTACT ME<br />
    If you are:
    You know my mail ;) 
</address>

<address>
    <strong>Support:</strong>   <a href="https://youtu.be/dQw4w9WgXcQ?t=65">There is no support</a><br />
    <strong>Marketing:</strong> <a href="https://youtu.be/dQw4w9WgXcQ?t=65">There is no marketing</a>
</address>