@model IEnumerable<Championships.Models.User>

@{
    ViewBag.Title = "Mail has been sent";
}

<h2>Your account has been created. </h2>
<p>
    Please confirm your email to activate your account.
</p>
<div>
    @Html.ActionLink("Back to Home Page", "Index", "Home")
</div>

</table>
